@use 'base/variables' as v;
@use 'base/mixins' as m;

.boton {
    @include m.boton(v.$boton-claro, v.$negro);
    margin:0.5rem;
    border-radius: 0.5rem;
}
.boton--eliminar {
    @include m.boton(v.$rojo, v.$gris-claro);
}

.botonera {
    display: flex;
    flex-direction: column;
}

.botonera--vertical {
    display: flex;
    flex-direction: column;
    .boton {
        width: 95%;
        
    }
}