@use 'base/variables' as v;
@use 'base/mixins' as m;


.card {
    margin: 0 auto;
    border-radius: 1rem;
    border: 2px solid v.$card-border;
    width: 90%;
    background-color: v.$gris-claro;
    padding: 2rem 1rem;
}

