@use 'base/variables' as v;
@use 'base/mixins' as m;


form {

    fieldset {
        border-radius: 0.5rem;
        margin: 1rem;
        display: block;
    }
}
.entrada {
    margin: 1rem 0;
    gap:0.5rem;
    display: flex;
    flex-direction: column;
    input {
        padding: 2rem 4rem;
        background-color: v.$gris-medio;
        border: none;
        border-radius: 0.5rem;
    }
    
}
#form-fecha{
    fieldset {
        border: none;
    }
}
.radio {
    div{
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    
}