@use "base/variables" as v;
@use "base/mixins" as m;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ); /* Aquí puedes ajustar la transparencia cambiando el valor del canal alfa (0.5 en este caso) */
  z-index: 2; /* Asegúrate de que el valor del z-index sea superior al del resto del contenido de la página para que el overlay esté en primer plano */
  display: flex;
  .card {
    overflow: auto;
    margin: 1rem auto;
    position: relative;
    padding: 1rem;
    height: auto;
    h3 {
        margin-top: 0;
        width: 85%;
    }
    img {
        border-radius: 0.5rem;
    }
  }
  .pax {
    font-weight: 700;
    font-size: 2rem;
  }
  .price {
    display: inline;
    font-weight: 700;
    font-size: 2rem;
  }
  span {
    font-weight: 400;
    font-size: 1.6rem;
  }
  .cerrar {
    position: absolute;
    right: 2.7rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    svg {
      color: v.$negro;
      border: 2px solid v.$negro;
      border-radius: 0.5rem;
    }
  }
  .boton {
    width: 100%;
    margin: 0;
  }
}
.div-imagen {
  margin: 2rem auto;
  position: relative;
  .siguiente-foto{
    cursor: pointer;
    svg {
      height: 2rem;
      width: 2rem;
    }
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: calc(50% - 1.8rem);
    background-color: rgba( v.$gris-claro, 70%);
  }
  .anterior-foto {
    cursor: pointer;
    svg {
      height: 2rem;
      width: 2rem;
    }
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 1rem;
    top: calc(50% - 1.8rem);
    background-color: rgba( v.$gris-claro, 70%);
  }
}


.no-foto {
    background-color: v.$gris-medio;
    padding: 10rem 2rem;
    margin: 2rem auto;
    text-align: center;
    border: 1px solid v.$rojo;
    border-radius: 0.5rem;
}

.no-scroll {
  overflow: hidden;
}
