@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuente_principal;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 3.4rem;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h2 {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h3 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}