@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuente_principal;
    font-size: 1.8rem;
    display: flex;
    flex-wrap: wrap; 
    min-height: 100vh;
    flex-direction: column;
    gap: 3.4rem;
    background: rgb(178,189,184);
    background: linear-gradient(0deg, rgba(178,189,184,0.756827731092437) 0%, rgba(164,163,163,0.7904411764705882) 68%);
}
a {
    text-decoration: none;
    color: v.$negro;
}
img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h2 {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h3 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}