// Fuentes
$fuente-principal: 'Cabin', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colores



// Errores
$rojo: #8b1212;
$verde: #02db02;

// Fuentes

$azul: #C3E6D7;
$azul-oscuro: #62B7BC;
$boton-claro: #88C34A;
$gris-claro: #e2ded8;
$gris-medio: #d0cecc;
$gris-oscuro: #B2AA9D;
$negro: #393939;
$card-border: #ECE4D8;