@use 'base/variables' as v;
@use 'base/mixins' as m;



// Navegacion
header {
    width: 100%;
    margin: 0 auto;
    border-radius: 0;
    border: 2px solid v.$card-border;
    background-color: v.$azul;
}

.navegacion {
    margin: 0 auto;;
    width: 90%;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: auto 2rem;
    }
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .user{
            grid-column: 2/3;
            grid-row: 3/4;
            justify-self: end;
            p{
                font-size: 1.2rem;
                margin: 0;
            }
        }
    }
    @include m.desktop {

    }
    @include m.xl_desktop {

        h1 {
            margin: 0;
        }
        nav {
            grid-column: 2/3;
        }
    }

   
}

nav {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    @include m.tablet {
        grid-column: 1/3;
       
    }
    @include m.desktop {
        align-items: center;
    }


    ul{
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include m.tablet {
            flex-direction: row;
            gap: 0rem;
        }
        @include m.desktop {
            gap: 1rem;
        }
    }
    li{

        border-radius: 0.2rem;
        display: flex;
        justify-content: center;
        a{
            color: v.$amarillo;
            padding: 2.5rem 1rem;
            @include m.desktop {
                padding: 2.5rem 2rem;
            }
        }
    }
    li:hover {
        background-color: v.$boton-claro;
    }


}

// BURGUER MENU

.navegacion__boton{
    display: flex;
    margin: 2rem;
    justify-content: center;
    @include m.tablet {
        justify-content: end;
    }
    @include m.desktop {
        display: none;
    }
}
.navegacion__boton--mostrar{
    display: block;
    height: 5rem;
    width: 5rem;
}
.navegacion__boton--cerrar{
    display: none;
    height: 5rem;
    width: 5rem;
    // TODO arreglar tipo de como se ve
}
.navegacion__enlaces{
    display: none;
    @include m.desktop {
        display: flex;
    }
}